- provide(:title, 'About Us')
%title'About Us'
%h1{:align => "center"} About Us
.row
	.span4
		%h2 Integrated Scheduling
		%p Collegiate athletic programs across the country face everyday scheduling challenges, both academically and athletically. AthleteTrax provides proprietary tools to increase academic performance

	.span4
		%h2 Instant Communication
		%p Instant and constant communication are vital to the success of a collegiate athletic department. AthleteTrax streamlines this process through an interconnected messaging and notification platform

	.span4
		%h2 Data and Form Management
		%p Use the AthleteTrax database manager to archive and organize compliance forms, video footage, workout information, supplement intake and more to increase athletic performance

