<% provide(:title, 'About Us') %>
<h1 align=center>About Us</h1>
<div class = "row"><div class="span4">
<h2>Integrated Scheduling</h2>

<p>Collegiate athletic programs across the country face everyday scheduling challenges, both academically and athletically. AthleteTrax provides proprietary tools to increase academic performance.</p>
</div>
<div class="span4">
<h2>Instant Communication</h2>

<p>Instant and constant communication are vital to the success of a collegiate athletic department. AthleteTrax streamlines this process through an interconnected messaging and notification platform.</p>
</div>
<div class="span4">
<h2>Data & Form Management</h2>

<p>Use the AthleteTrax database manager to archive and organize compliance forms, video footage, workout information, supplement intake and more to increase athletic performance.</p>
</div>
</div>
