<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<ul>
			<li class = "nav pull-left" ><b><i>by Hrishikesh Sardar</i></b></li>
			<ul class = "nav pull-right">
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</ul>
	</div>
</div>


