<div class = "navbar navbar-fixed-top">
	<div class = "navbar-inner">
		<ul class="nav">

			<li>
				<div class="brand"><%= link_to "Athlete-Trax", root_path, id:"logo" %></div>
			</li>
			<ul class = "nav pull-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Sign up", sign_up_path %></li>
				<li><%= link_to "Sign in", log_in_path %></li>
			</ul>
		</ul>
	</div>
</div>

