.navbar.navbar-fixed-top
  .navbar-inner
    %ul.nav
      %li
        .brand= link_to "Athlete-Trax", root_path, id:"logo"
      %ul.nav.pull-right
        %li= link_to "Home", root_path
        %li= link_to "Sign up", sign_up_path
        %li= link_to "Sign in", log_in_path